<!DOCTYPE html>
<html lang="ru">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
            
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
        <title>{{ title }}</title>

        <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="libs/iziToast/iziToast.min.css">

        <link rel="stylesheet" href="css/FontAwesome.css">
        <link rel="stylesheet" href="css/Montserrat.css">

        <link rel="stylesheet" href="css/styles.css">

    </head>
    <body class="pb-5 text-blur">
        
        <div class="mb-3 fixed-top bg-white">
            <ul class="nav nav-tabs nav-pills mb-2" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link rounded-0 active" id="bot-tab" data-toggle="tab" href="#bot" role="tab" aria-controls="bot" aria-selected="true" >{{ lang.nav.mining }}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link rounded-0" id="accounts-tab" data-toggle="tab" href="#accounts" role="tab" aria-controls="accounts" aria-selected="false" onclick="UI.accounts.get_list( true )" >{{ lang.nav.accounts }}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link rounded-0" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="groups" aria-selected="false" onclick="UI.groups.get_list( true )">{{ lang.nav.groups }}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link rounded-0" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">{{ lang.nav.settings }}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link rounded-0" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">{{ lang.nav.information }}</a>
                </li>
            </ul>
        </div>

        <div class="mb-3">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="bot" role="tabpanel" aria-labelledby="bot-tab">
                    {% include 'layouts/home/default.twig' %}
                </div>
                <div class="tab-pane fade" id="accounts" role="tabpanel" aria-labelledby="accounts-tab">                    
                    {% include 'layouts/accounts/default.twig' %}
                </div>
                <div class="tab-pane fade" id="groups" role="tabpanel" aria-labelledby="groups-tab">                    
                    {% include 'layouts/groups/default.twig' %}
                </div>
                <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">         
                    {% include 'layouts/settings/default.twig' %}
                </div>
                <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">         
                    {% include 'layouts/information/default.twig' %}
                </div>
            </div>
        </div>

        <script>
            window.$ = window.jQuery = require('jquery');
            window.Twig = require('twig');
        </script>
        <script defer src="libs/jquery/jquery.inputmask.min.js"></script>
        <script defer src="libs/bootstrap/js/bootstrap.min.js"></script>
        <script defer src="libs/iziToast/iziToast.min.js"></script>
        <script defer src="js/preload.js"></script>

        <div class="modal fade" id="pageModal" tabindex="-1" aria-labelledby="pageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                <div class="modal-content overflow-auto"></div>
            </div>
        </div>
                
        <div class="status-bar">
            <div class="status-bar-item javascript-status_bar w-100 d-flex align-items-center">{{ lang.registry.wait }}</div>
            <a href="javascript:void(0)" onclick="UI.tools.hidden_btn( this )" class="ml-3 btn btn-sm btn-outline-light private-mode">
                <i class="fa fa-eye-slash" aria-hidden="true"></i>
            </a>
        </div>

        <div id="server-preload" class="progress fixed-bottom d-none" style="bottom: 48px; border-radius: 0px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%;" aria-valuenow="100"></div>
        </div>

    </body>
</html>