<div class="ml-3 mt-3 mb-3">
    <h1 class="mb-0">{{ header }}</h1>
</div>
<div>
    <div class="col-12">
        <form id="form-account" data-iscreted="{{ item.wax_login|default('created') }}" >

            <fieldset class="mb-4">
                <legend>{{ lang.pages.accounts.form_wax }}</legend>
                <div class="form-group">
                    <small class="mb-1 d-block">{{ lang.pages.accounts.form_wax_wallet }}</small>
                    <input type="text" class="form-control form-control-sm" name="wax_login" value="{{ item.wax_login }}" />
                </div>
            </fieldset>

            <fieldset class="mb-4">
                <legend>{{ lang.pages.accounts.form_token_mode_header }}</legend>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="token_mode" id="exampleRadios1" value="mail" {{ item.token_mode == 'mail' ? 'checked' : '' }} >
                    <label class="form-check-label ml-2" for="exampleRadios1" onclick="UI.accounts.check_tokenMode( this )" data-title="{{ lang.pages.accounts.form_title_wax }}" >Mail</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="token_mode" id="exampleRadios2" value="reddit" {{ item.token_mode == 'reddit' ? 'checked' : '' }} >
                    <label class="form-check-label ml-2" for="exampleRadios2" onclick="UI.accounts.check_tokenMode( this )" data-title="{{ lang.pages.accounts.form_title_reddit }}" >Reddit</label>
                </div>
            </fieldset>

            <fieldset class="mb-4">
                <legend class="mb-0">{{ lang.pages.accounts.form_mail }}</legend>
                <small class="text-danger">{{ lang.pages.accounts.form_mail_danger }}</small>
                <div class="mt-2 form-group">
                    <small class="mb-1 d-block">{{ lang.pages.accounts.form_mail_email }}</small>
                    <input type="text" class="form-control form-control-sm" name="email" value="{{ item.email }}" />
                </div>
                <div class="form-group">
                    <small class="mb-1 d-block">{{ lang.pages.accounts.form_mail_pass }}</small>
                    <input type="text" class="form-control form-control-sm" name="email_password" value="{{ item.email_password }}" />
                </div>
                <div class="form-group">
                    <small class="mb-1 d-block">{{ lang.pages.accounts.form_mail_imap }}</small>
                    <input type="text" class="form-control form-control-sm" name="imap_server" value="{{ item.imap_server }}" />
                </div>
            </fieldset>

            <fieldset class="mb-4">
                <legend class="javascript-block-title">{{ lang.pages.accounts.form_title_wax }}</legend>
                <div class="form-group">
                    <small class="mb-1 d-block">{{ lang.pages.accounts.form_reddit_username }}</small>
                    <input type="text" class="form-control form-control-sm" name="username" value="{{ item.username }}" />
                </div>
                <div class="form-group">
                    <small class="mb-1 d-block">{{ lang.pages.accounts.form_reddit_password }}</small>
                    <input type="text" class="form-control form-control-sm" name="password" value="{{ item.password }}" />
                </div>
            </fieldset>

            <fieldset class="mb-4">
                <legend>{{ lang.pages.accounts.form_wax_aw }}</legend>
                <div class="form-group">
                    <small class="mb-1 d-block">{{ lang.pages.accounts.form_wax_aw_resets }}</small>
                    <input type="text" class="form-control form-control-sm" name="interval" value="{{ item.interval|default(80) }}" />
                </div>
            </fieldset>

            <fieldset class="mb-4">
                <legend>Proxy-server</legend>
                <div class="form-group">
                    <small class="mb-1 d-block">Proxy-enabled</small>
                    <select name="proxy" class="form-control form-control-sm" >
                        <option value="off" {{ item.proxy == 'off' ? ' selected ' : '' }}   >OFF</option>
                        <option value="on"  {{ item.proxy == 'on' ? ' selected ' : '' }}    >ON</option>
                    </select>
                </div>
                <div class="form-group">
                    <small class="mb-1 d-block">PROXY_HOST</small>
                    <input type="text" class="form-control form-control-sm" name="proxy_host" value="{{ item.proxy_host }}" />
                </div>
                <div class="form-group">
                    <small class="mb-1 d-block">PROXY_PORT</small>
                    <input type="text" class="form-control form-control-sm" name="proxy_port" value="{{ item.proxy_port }}" />
                </div>
                <div class="form-group">
                    <small class="mb-1 d-block">PROXY_USERNAME</small>
                    <input type="text" class="form-control form-control-sm" name="proxy_username" value="{{ item.proxy_username }}" />
                </div>
                <div class="form-group">
                    <small class="mb-1 d-block">PROXY_PASSWORD</small>
                    <input type="text" class="form-control form-control-sm" name="proxy_password" value="{{ item.proxy_password }}" />
                </div>
            </fieldset>

            <fieldset class="mb-4">
                <legend>{{ lang.pages.accounts.system_settings }}</legend>
                <div class="form-group">
                    <small class="mb-1 d-block">{{ lang.pages.accounts.system_settings_mincpu }}</small>
                    <input type="text" class="form-control form-control-sm" name="maxCPU" value="{{ item.maxCPU }}" />
                </div>
                <div class="form-group">
                    <small class="mb-1 d-block">{{ lang.pages.accounts.system_settings_group }}</small>
                    <select name="group_id" class="form-control form-control-sm" >
                        {% for group in groups %}
                            <option value="{{ group.id }}" {{ item.group_id == group.id ? ' selected ' : '' }} >{{ group.header }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <small class="mb-1 d-block">{{ lang.pages.accounts.system_settings_activity }}</small>
                    <select name="status" class="form-control form-control-sm" >
                        <option value="active"      {{ item.status == 'active' ? ' selected ' : '' }}   >{{ lang.pages.accounts.system_settings_activity_worked }}</option>
                        <option value="disabled"    {{ item.status == 'disabled' ? ' selected ' : '' }} >{{ lang.pages.accounts.system_settings_activity_disabled }}</option>
                        <option value="ban"         {{ item.status == 'ban' ? ' selected ' : '' }}      >{{ lang.pages.accounts.system_settings_activity_baned }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <small class="mb-1 d-block">{{ lang.pages.accounts.system_settings_notes }}</small>
                    <textarea name="note" class="form-control form-control-sm" >{{ item.note }}</textarea>
                </div>
            </fieldset>

            <div class="form-group">
                <input type="hidden" name="climetime" value="{{ item.climetime|default(0) }}" />
                <input type="hidden" name="timeout" value="{{ item.timeout|default(0) }}" />
                <input type="hidden" name="maxCPU" value="{{ item.id|default(settings.cpu_limit) }}" />
                <input type="hidden" name="cpu" value="{{ item.id|default(0) }}" />
                <input type="hidden" name="cpu_staked" value="{{ item.cpu_staked|default('0.00000000 WAX') }}" />
                <input type="hidden" name="session_token" value="{{ item.session_token|default('') }}" />
                <input type="hidden" name="nonce" value="{{ item.nonce|default('') }}" />
                <input type="hidden" name="balanceTLM" value="{{ item.balanceTLM|default('0.00000000 WAX') }}" />
                <input type="hidden" name="balanceWAX" value="{{ item.balanceWAX|default('0.00000000 WAX') }}" />
                <input type="hidden" name="last_clime_tlm" value="{{ item.last_clime_tlm|default('0.00000000 WAX') }}" />
                <input type="hidden" name="last_clime_trx" value="{{ item.last_clime_trx|default('') }}" />
                <button type="submit" class="btn btn-sm btn-success">{{ lang.pages.accounts.save }}</button>
                <small class="javascript-status"></small>
            </div>

        </form>
    </div>
</div>